img{
    background-image: url("image.jpg");
	height: auto;
	width: 100%;
	background-size: cover;
}

.part1{
	position: relative;
	text-align: center;
	color: white;
}

.part1 .centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  font-family: serif;
}

.part1 .btn{
	 position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     background-color: #555;
     color: white;
     font-size: 16px;
     padding: 12px 24px;
     border: none;
     cursor: pointer;
     border-radius: 5px;
}

.part1 .btn:hover {
  background-color: black;
}